@charset "UTF-8";
body {
    background-color: white;
    font-family: sans-serif;

}
/*Em html = id
Em css = #
vc usa id para diferenciar uma tag espesifica*/
#principal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
h1 {
    color: rgb(0, 0, 0);
}

.basico {
    font-size: 2rem;
    color: green;
    }
.intermediario {
    color: rgb(114, 114, 0);
    font-size: 2rem;
    }
.avançado {
    color: red;
    font-size: 2rem;
    }
p {
    font-weight: bold;
    color: blue;
    text-align: justify;
}